//- Mixin to create tabs
mixin dividerTab(url, name)
	li.divider
	mixin tab(url, name)

mixin dropdownTab(url, name, droplist)
	li.divider
	li.has-dropdown
		a(href=url)= name
		//-<a href=#{url}>#{name}</a>
		ul.dropdown
			each val, key in droplist
				li: a(href=val)= key

mixin tab(url, name)
	- if(locals.currentURL === url)
		li.active: a(href=url)= name
	- else
		li: a(href=url)= name

// Navigationbar
nav.top-bar
	ul.title-area
		li.name
			h1: a(href='/') TITEL

	section.top-bar-section
		ul.left
			mixin dividerTab('/index', 'Home')
			mixin dividerTab('/data', 'Daten')
			//- mixin dropdownTab('#', 'Test', {'A': 'a', 'B': 'b'})