//- mixin dropdownDividerTab(url, name, droplist)
	li.divider
	mixin dropdownTab(url, name, droplist)

//- mixin dropdownTab(url, name, droplist)
	li.has-dropdown
		a(href=url)= name
		ul.dropdown
			each val, key in droplist
				- if(typeof val === 'object')
					mixin dropdownTab(val.url, key, val.list)
				- else
					li: a(href=val)= key

//- Dropdown Tab mixin
mixin dropdownTab(url, name)
	//- li.has-dropdown
	li(class='has-dropdown'+(locals.path===url?' active':''))
		a(href=url)= name
		ul.dropdown
			block

//- Tab Label mixin
mixin label(text)
	li: label= text

//- Usual Tab mixin
mixin tab(url, name)
	- if(locals.path === url)
		li.active: a(href=url)= name
	- else
		li: a(href=url)= name

//- Tab divider
mixin divider
	li.divider

// Navigationbar
nav.top-bar
	ul.title-area
		li.name
			a(href='/'): img(src='img/fz_logo_trans_small_mono.png', style='max-height: 100%;')
		li.toggle-topbar.menu-icon
			a(href='#'): span Menu

	dataURL = '/data'
	section.top-bar-section
		ul.left
			+divider
			+tab('/index', 'Home')
			+divider
			+dropdownTab('#', 'Graphs')
				+tab(dataURL+'?type=test', 'Test')
				+tab(dataURL+'?type=line', 'Line Graph')
				//- +dropdownTab('#', 'Graphtype 1')
					+label('Type 1 Graphs')
					+tab(dataURL+'?type=subtype1.1', 'Subtyp 1.1')
					+tab(dataURL+'?type=subtype1.2', 'Subtyp 1.2')
					+tab(dataURL+'?type=subtype1.3', 'Subtyp 1.3')
				//- +dropdownTab('#', 'Graphtype 2')
					+label('Type 2 Graphs')
					+tab(dataURL+'?type=subtype2.1', 'Subtyp 2.1')
					+tab(dataURL+'?type=subtype2.2', 'Subtyp 2.2')
					+tab(dataURL+'?type=subtype2.3', 'Subtyp 2.3')
				//- +dropdownTab('#', 'Graphtype 3')
					+label('Type 3 Graphs')
					+tab(dataURL+'?type=subtype3.1', 'Subtyp 3.1')
					+tab(dataURL+'?type=subtype3.2', 'Subtyp 3.2')
					+tab(dataURL+'?type=subtype3.3', 'Subtyp 3.3')
					+divider
			+divider
			+dropdownTab(dataURL, 'Tables')
				+tab('/schritt1', 'Schritt1')
				+tab('/schritt2', 'Schritt2')