//- mixin dropdownDividerTab(url, name, droplist)
	li.divider
	mixin dropdownTab(url, name, droplist)

//- mixin dropdownTab(url, name, droplist)
	li.has-dropdown
		a('href'=url)= name
		ul.dropdown
			each val, key in droplist
				- if(typeof val === 'object')
					mixin dropdownTab(val.url, key, val.list)
				- else
					li: a(href=val)= key

//- Dropdown Tab mixin
mixin dropdownTab(url, name)
	//- li.has-dropdown
	li(class='has-dropdown'+(locals.path===url?' active':''))
		a('href'=url)= name
		ul.dropdown
			block

//- Tab Label mixin
mixin label(text)
	li: label= text

//- Usual Tab mixin
mixin tab(url, name)
	- if(locals.path === url)
		li.active: a(href=url)= name
	- else
		li: a(href=url)= name

//- Tab divider
mixin divider
	li.divider

// Navigationbar
nav.top-bar
	ul.title-area
		li.name
			a(href='/'): img(src='img/fz_logo_trans_small_mono.png', style='max-height: 100%;')
		li.toggle-topbar.menu-icon
			a(href='#'): span Menu

	tableURL = '/table'
	graphURL = '/graph'
	section.top-bar-section
		ul.left
			+divider
			+tab('/index', 'Home')
			+divider
			+tab(tableURL, 'Table')
			+divider
			li: a#optionsButton(data-reveal-id="optModal") Options